# Python
*.egg-info/
.mypy_cache/
__pycache__/
.ropeproject/
.coverage

# Poetry
poetry.lock

# Documentation
docs/_build/
docs/*.rst

# Visual Studio Code
.vscode/*.log
*.code-workspace

# Others
.DS_Store
